<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>chat room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
</head>
<body ng-app="app-chat">
<div class="container bootstrap snippet" ng-controller="appController">
    <div class="row clearfix">
        <div class="col-md-4">
            <div class="friend-list-wrapper bg-white" ng-controller="userController">
                <ul class="friend-list">
                    <li style="border-bottom: 0">
                        <div class="self-user">
                            <img src={{me.photo}} class="img-circle" />
                            <div class="friend-name"><strong>{{me.username}}</strong></div>
                            <div class="last-message text-muted"><a class="btn btn-default" href="/api/user/logout">Logout</a></div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Group Panel -->
            <div class="friend-list-wrapper bg-white" ng-controller="groupController">
                <div class="title border-bottom padding-sm clearfix">
                    <div class="pull-left">Group</div>
                    <div class="pull-right">
                        <i class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#inviteUser"></i>
                        <i class="glyphicon glyphicon-plus add-new-group" data-target=".add-new-group-input"></i>
                    </div>
                </div>

                <div class="add-item add-new-group-input">
                    <form class="form-inline">
                        <input class="form-control grow" type="text" name="add-friend" />
                        <input class="form-control btn btn-default" type="button" value="Add" />
                    </form>
                </div>

                <!-- Group List -->
                <ul class="friend-list">
                    <li ng-repeat="group in groups" ng-click="onGroupClick(group.gid)" ng-class="{active:isActive(group.gid)}">
                        <a href="#" class="clearfix friend-list-item">
                            <img src="/images/g1.png" class="img-circle">
                            <div class="friend-name">
                                <strong>{{group.nama}}</strong>
                            </div>
                            <div class="last-message text-muted">{{group.lastChat.content}}</div>
                            <small class="time text-muted">{{group.lastChat.create_time}}</small>
                            <!--<small class="chat-alert label label-danger">1</small>-->
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Friend Panel -->
            <div class="friend-list-wrapper bg-white" ng-controller="friendController">
                <div class="title border-bottom padding-sm clearfix">
                    <div class="pull-left">Friends</div>
                    <div class="pull-right">
                        <i class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#inviteUser"></i>
                        <i class="glyphicon glyphicon-plus add-new-user" data-target=".add-new-user-input"></i>
                    </div>
                </div>
                <div class="add-item add-new-user-input">
                    <form class="form-inline">
                        <input class="form-control grow" type="text" name="add-friend" />
                        <input class="form-control btn btn-default" type="button" value="Add" />
                    </form>
                </div>

                <!-- Friend List -->
                <ul class="friend-list">
                    <li ng-repeat="friend in friends" ng-click="onUserClick(friend.uid)" ng-class="{active:isActive(friend.uid)}">
                        <a href="#" class="clearfix friend-list-item">
                            <img src={{friend.photo}} class="img-circle">
                            <div class="friend-name">
                                <strong>{{friend.username}}</strong>
                            </div>
                            <div class="last-message text-muted">{{friend.lastChat.content}}</div>
                            <small class="time text-muted">{{friend.lastChat.create_time}}</small>
                            <!--<small class="chat-alert label label-danger">1</small>-->
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Chat Panel -->
        <div class="col-md-8" ng-controller="chatController">
            <div class="title border-bottom padding-sm clearfix" style="border: 1px solid #eaeaea;border-bottom:0;">
                <div class="pull-left">{{title}}</div>
                <div class="pull-right">
                    <i class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#inviteUser"></i>
                    <i class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#inviteUser"></i>
                </div>
            </div>
            <div class="chat-message">
                <ul class="chat">
                    <li class="clearfix" ng-repeat="chat in chats" ng-class="{right:isMyChat(chat), left:!isMyChat(chat)}">
                      <span class="chat-img" ng-class="{'pull-right':isMyChat(chat), 'pull-left':!isMyChat(chat)}">
                        <img src={{user[chat.chat_from].photo}}>
                      </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">{{user[chat.chat_from].username}}</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{chat.create_time}}</small>
                            </div>
                            <p>
                                {{chat.content}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-box bg-white">
                <form class="form-send-message" ng-controller="sendMessageController" ng-submit="send()">
                    <div class="input-group">
                        <input class="form-control border no-shadow no-rounded" placeholder="Type your message here..." ng-model="message" />
                        <span class="input-group-btn">
                          <input class="btn btn-success no-rounded" value="Send" type="submit" />
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="inviteUser" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose user</h4>
            </div>
            <div class="modal-body">
                <ul class="friend-list">
                    <li>
                        <a href="#" class="clearfix friend-list-item">
                            <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                            <div class="friend-name">
                                <strong>John Doe</strong>
                            </div>

                            <label class="control control--checkbox">
                                <input type="checkbox"/>
                                <div class="control__indicator"></div>
                            </label>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="clearfix friend-list-item">
                            <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                            <div class="friend-name">
                                <strong>John Doe</strong>
                            </div>

                            <label class="control control--checkbox">
                                <input type="checkbox"/>
                                <div class="control__indicator"></div>
                            </label>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="clearfix friend-list-item">
                            <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                            <div class="friend-name">
                                <strong>John Doe</strong>
                            </div>

                            <label class="control control--checkbox">
                                <input type="checkbox"/>
                                <div class="control__indicator"></div>
                            </label>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-success">Pilih</button>
            </div>
        </div>

    </div>
</div>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
<script src="/javascripts/index.js"></script>
<script type="text/javascript">
    window.uid = <%= uid %>
</script>
</body>
</html>